/* Main Container */
.media-page {
    padding: 20px;
    margin-top: 150px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.media-main {
    /* margin-left: 22% !important; */
    margin-top: 157px;
    margin-left: 250px;

    max-width: -webkit-fill-available;
    /* margin-right: 4%; */

}


/* Tabs Section */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tabs button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.tabs button:hover {
    background-color: #e0e0e0;
}

/* Media Gallery Section */
.media-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Media Item */
.media-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.media-bx {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.media-thumbnail {
    width: 150px;
    object-fit: cover;
}

.media-download {
    margin-top: 10px;
}

.media-download a {
    text-decoration: none;
    color: #007bff;
}

.media-download a:hover {
    text-decoration: underline;
}

@media (max-width:1440px) {
    .media-main {
        /* margin-left: 22% !important; */
        margin-top: 157px;
        margin-left: 0;

        max-width: -webkit-fill-available;
        /* margin-right: 4%; */

    }

}